body {
	background-color: #323232;
	color: white;
	text-align: center;
    font-family: sans-serif
}
#titleDiv {
	
}
h1 {
	font-size: 5vmin;
}
.center, .gridSquare, .invisibleSquare, .powerup-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Grid */
#grid {
	width: 80vmin;
	height: 80vmin;
/*	background-color: white;*/
	margin: auto;
}
.gridSquare, .invisibleSquare {
	width: 15vmin;
	height: 15vmin;
	float: left;
	margin: 0.5vmin;
    border-radius: 1vmin;
}
.gridSquare {
/*    outline: 0.5vmin solid white;*/
    background-color: #232323;
}
.invisibleSquare {
    opacity: 0.5;
}
.highlighted {
    background-color: lightgray;
    opacity: 0.5;
}
/* Power Ups */
#powerup-bar {
	width: 60vmin;
	height: 20vmin;
	margin: 2vmin auto;
/*	outline: 0.5vmin solid white;*/
}
.powerup-container {
	width: 15vmin;
	height: 15vmin;
	float: left;
/*	outline: 0.5vmin solid white;*/
} 
.pipe {
	width: 10vmin;
	height: 10vmin;
	background-color: dodgerblue;
	cursor: pointer;
}

.valve {
	width: 10vmin;
	height: 10vmin;
	background-color: lawngreen;
	cursor: pointer;
}

.heater {
	width: 10vmin;
	height: 10vmin;
	background-color: firebrick;
	cursor: pointer;
}
.element {
	transition: 0.2s;
	margin: 0 auto;
    border-radius: 1vmin;
}
.element:hover {
	opacity: 0.5;
}
.element:active {
	opacity: 0.75;
}